<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.wifi.swdev.teamprojekt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".uebung2.SecondActivity" />
        <activity android:name=".uebung4.SquareActivity" />
        <activity android:name=".uebung4.Square2Activity" />
        <activity android:name=".uebung1.WifiActivity" />
        <activity android:name=".uebung2.ThirdActivity" />
        <activity android:name=".uebung3.SendBroadcastActivity" />

        <receiver
            android:name=".uebung3.Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="at.wifi.swdev.teamprojekt.uebung3"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>